*
{
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
    cursor: default;
}


#home-splash {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.8), 
        rgba(0, 0, 0, 0.8)
      ), url('../assets/images/conner-sidewalk.jpg');
    background-size: cover;
    background-position: top;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5em;
    color: white;
    height: 85lvh;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 15px;
}


#home-navbar {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    font-weight: 700;
    height: 60px;
    box-shadow: 0px 0.25px 2px grey;
}

#home-navbar-row
{
    display: flex;
    justify-content: center;
}


#menu-icon 
{
    height: 29px;
    cursor: pointer;
}

#menu 
{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 0vw;
    height: 100lvh;
    background-color: rgba(0,0,0,0.9);
    z-index: 100;
}

#menu div {
    display: flex;
    justify-content: center;
    color: grey;
}

#menu ul {
    list-style: none;
    display: none;
    color: grey;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

#menu li 
{
    padding: 2lvh;
}

#menu li:hover 
{
    color: white;
    cursor: pointer;
    transition-duration: 0.2s;
}

#album-release
{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.2), 
        rgba(0, 0, 0, 0.2)
      ), url('../assets/images/conner-stage-blurred.jpg');
      backdrop-filter: blur(20px);
      filter:saturate(75%);
      background-size: 300%;
      background-position:60% 40%;
      height: 90lvh;
      display: flex;
      flex-direction: column;
      justify-content: center;
    box-shadow: 0px 0.25px 2px grey;
}

#album-release div
{
    display: flex;
    justify-content: center;
}

#album-release div div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

#album-release h1
{
    color: white;
    text-align: center;
}

#album-release p
{
    color: white;
    font-size: 15px;
}

#album-release img
{
    height: 30lvw;
}